{% extends 'base.html' %}
{% load static  %}

{% block contact %}

<div id="main-content" class="site-main-content">
    <section class="site-content-area">

        <div class="uni-banner-default uni-background-1">
            <div class="container">
                <!-- Page title -->
                <div class="page-title">
                    <div class="page-title-inner">
                        <h1>{{ post.title }}</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="uni-single-post-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="uni-single-post-left">
                            <div class="page-content">
                                <article class="post-{{ post.id }} post type-post has-post-thumbnail">
                                    <div class="content-inner">
                                        <div class="uni-entry-top">
                                            <div class="post-formats-wrapper">
                                                <a class="post-image" href="#">
                                                    <img src="{{ post.image.url }}" class="attachment-full size-full wp-post-image img-responsive" alt="">
                                                </a>
                                            </div>
                                        </div><!-- .entry-top -->

                                        <div class="uni-entry-body">
                                            <div class="uni-entry-time">
                                                <ul>
                                                    <li class="year">{{ post.date_posted|date:'Y' }}</li>
                                                    <li class="day">{{ post.date_posted|date:'d' }}</li>
                                                    <li class="month">{{ post.date_posted|date:'M' }}</li>
                                                </ul>
                                            </div>
                                            <div class="uni-entry-content">
                                                <header class="uni-entry-header">
                                                    <h2 class="uni-entry-title">
                                                        {{ post.title }}
                                                    </h2>
                                                </header>

                                                <div class="uni-entry-meta">
                                                    <span class="uni-author">
                                                        <a href="#" rel="author"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date_posted }}</a>
                                                    </span>
                                                    <span class="uni-comment-total">
                                                        <a href="#" class="comments-link"><i class="fa fa-user" aria-hidden="true"></i> admin</a>
                                                    </span>
                                                    <span class="uni-entry-folder"><a href="#"><i class="fa fa-comment" aria-hidden="true"></i> 2 comments</a></span>
                                                </div>
                                                <div class="uni-entry-description">
                                                    <p>
                                                        {{ post.description }}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="uni-divider"></div>

                                        <div class="uni-entry-tag-share">
                                            <div class="share-click">
                                                <ul class="thim-social-share">
                                                    <li> SHARE: </li>
                                                    <li class="facebook"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                                    <li class="twitter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                                    <li class="google-plus"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                                    <li class="youtube"><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </article>

                                
                                <div id="comments" class="comments-area">
                                    <div class="list-comments">
                                        <h3 class="comments-title"> COMMENTS</h3>
                                        <div class="uni-divider"></div>
                                        <ul class="comment-list">
                                            {% for comment in comments %}
                                                <li class="comment even thread-even depth-1 description_comment">
                                                    <div class="comments-img">
                                                        <img alt="" src="{% static 'images/single_post/img5.jpg' %}" class="avatar avatar-100 photo">
                                                    </div>
                                                    <div class="content-comment">
                                                        <div class="author">
                                                            <span class="author-name">{{ comment.name }}</span>
                                                        </div>
                                                        <div class="message">
                                                            <p>{{ comment.message }}</p>
                                                        </div>
                                                        <div class="reply">
                                                            <span class="comment-extra-info">{{ comment.date_posted|date:'M d, Y' }}</span>
                                                            <span>
                                                                <a class="comment-reply-link" href="#">Reply</a>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="form-comment">
                                        <div id="respond" class="comment-respond">
                                            <h3 id="reply-title" class="comment-reply-title">Add your comment</h3>
                                            <div class="uni-divider"></div>
                                            <div class="row">
                                                <div class="uni-message-cause-form">
                                                    <form method="post">
                                                        {% csrf_token %}
                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                                <textarea class="form-control" id="yourmessage" name="message" placeholder="Your Comments" rows="5" required></textarea>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-md-4">
                                                                <input type="text" id="yourName" name="name" placeholder="Name *" class="form-control" required>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-md-4">
                                                                <input type="email" id="youremail" name="email" placeholder="Email *" class="form-control" required>
                                                            </div>
                                                        </div>
                                                        
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                                <div class="vk-btn-send">
                                                                    <button type="submit" class="btn vk-btn-primary">Post Comment</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    

    </section>
</div>



{% endblock %}