

{% extends 'base.html' %}
{% load static %}

{% block contact %}

<!-- End page title -->

<!-- Breadcrumbs -->

<!-- End breadcrumbs -->
</div>
</div>

<div class="uni-about-body">

<!--WHO WE ARE-->
<div class="uni-about-who-are-you">
    <div class="container">
        <div class="uni-services-title">
            <h3>who we are</h3>
            <div class="uni-underline"></div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="uni-about-who-are-you-left">
                    <img src="{% static 'images/about/img.jpg' %}" alt="" class="img-responsive">
                </div>
            </div>
            <div class="col-md-6">
                <div class="uni-about-who-are-you-right">
                    <p>
                        Pellentesque habitant morbi trPellentesque habitant morbi tristique
                        senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor
                        quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero
                        sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat
                        eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra.
                    </p>
                    <h4>our missions</h4>
                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetuer</li>
                        <li>Aliquam tincidunt mauris eu risus</li>
                        <li>Vestibulum auctor dapibus neque</li>
                        <li>Morbi in sem quis dui placerat ornare</li>
                        <li>Donec eu libero sit amet quam egestas semper</li>
                        <li>Aliquam tincidunt mauris eu risus</li>
                        <li>Vestibulum auctor dapibus neque</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Team 2-->
<div class="uni-home-title">
    <h3>Our Doctors</h3>
    <div class="uni-underline"></div>
</div>
<div class="uni-our-doctor-body">
    <div class="container">
        <div class="uni-shortcode-tabs-default">
            <div class="uni-shortcode-tab-2">
                <div class="tabbable-panel">
                    <div class="tabbable-line">
                        <ul class="nav nav-tabs">
                            {% for department in departments %}
                            <li {% if forloop.first %}class="active"{% endif %}>
                                <a href="#tab_default_{{ department.id }}" data-toggle="tab" aria-expanded="false">
                                    {{ department.name }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                        <div class="tab-content">
                            {% for department in departments %}
                            <div class="tab-pane {% if forloop.first %}active{% endif %}" id="tab_default_{{ department.id }}">
                                <div class="row">
                                    {% for doctor in department.doctor_set.all %}
                                    <div class="col-md-3 col-sm-6">
                                        <div class="uni-our-doctor-item-default">
                                            <div class="item-img">
                                                <!-- ينقلك إلى صفحة التفاصيل عند النقر على اسم الطبيب -->
                                                <a href="{% url 'doctor_detail' doctor.id %}">
                                                    <img src="{{ doctor.image.url }}" alt="{{ doctor.name }}" class="img-responsive">
                                                </a>
                                            </div>
                                            <div class="item-caption">
                                                <div class="item-caption-head">
                                                    <div class="col-md-3 col-sm-3 col-xs-3 uni-clear-padding">
                                                        <div class="item-icons">
                                                            <img src="{% static 'images/icons_box/icon_4/icon-5.png' %}" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-9 col-sm-9 col-xs-9 uni-clear-padding">
                                                        <div class="item-title">
                                                            <!-- ينقلك إلى صفحة التفاصيل عند النقر على اسم الطبيب -->
                                                            <a href="{% url 'doctor_detail' doctor.id %}">
                                                                <h4>{{ doctor.name }}</h4>
                                                            </a>
                                                            <span>{{ doctor.degree }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item-caption-info">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <td>Degree</td>
                                                                <td>{{ doctor.degree }}</td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>Availability</td>
                                                                <td>{{ doctor.availability }}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--ICONS BOX 3-->
<div class="uni-shortcode-icons-box-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="uni-shortcode-icons-box-3-default">
                    <div class="item-icons">
                        <i class="fa fa-user-md" aria-hidden="true"></i>
                    </div>
                    <div class="item-caption">
                        <h4>Qualified Doctors</h4>
                        <div class="uni-line"></div>
                        <p>
                            Pellentesque habitant morbi tristique senectus et netus et malesuada fame ac turpis egestas.
                            Vestibulum tortor quam.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="uni-shortcode-icons-box-3-default">
                    <div class="item-icons">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                    </div>
                    <div class="item-caption">
                        <h4>24 hours service</h4>
                        <div class="uni-line"></div>
                        <p>
                            Pellentesque habitant morbi tristique senectus et netus et malesuada fame ac turpis egestas.
                            Vestibulum tortor quam.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="uni-shortcode-icons-box-3-default">
                    <div class="item-icons">
                        <i class="fa fa-hospital-o" aria-hidden="true"></i>
                    </div>
                    <div class="item-caption">
                        <h4>Modern Equipment</h4>
                        <div class="uni-line"></div>
                        <p>
                            Pellentesque habitant morbi tristique senectus et netus et malesuada fame ac turpis egestas.
                            Vestibulum tortor quam.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="uni-shortcode-icons-box-3-default">
                    <div class="item-icons">
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    </div>
                    <div class="item-caption">
                        <h4>Conscientious Doctors</h4>
                        <div class="uni-line"></div>
                        <p>
                            Pellentesque habitant morbi tristique senectus et netus et malesuada fame ac turpis egestas.
                            Vestibulum tortor quam.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="uni-shortcode-icons-box-3-default">
                    <div class="item-icons">
                        <i class="fa fa-ambulance" aria-hidden="true"></i>
                    </div>
                    <div class="item-caption">
                        <h4>Call in 10 minutes</h4>
                        <div class="uni-line"></div>
                        <p>
                            Pellentesque habitant morbi tristique senectus et netus et malesuada fame ac turpis egestas.
                            Vestibulum tortor quam.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="uni-shortcode-icons-box-3-default">
                    <div class="item-icons">
                        <i class="fa fa-commenting" aria-hidden="true"></i>
                    </div>
                    <div class="item-caption">
                        <h4>Enthusiastic Support</h4>
                        <div class="uni-line"></div>
                        <p>
                            Pellentesque habitant morbi tristique senectus et netus et malesuada fame ac turpis egestas.
                            Vestibulum tortor quam.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--OUR SERVICES 2-->
<div class="uni-our-services-2 uni-background-4">
    <div class="container">
        <div class="uni-services-title">
            <h3>Our services</h3>
            <div class="uni-underline"></div>
        </div>

        <div class="uni-our-service-2-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="tab-nav">
                        <ul class="nav-pills nav-stacked">
                            <li class="active"><a href="#tab_a" data-toggle="pill">Cardiothoracic Surgery</a></li>
                            <li><a href="#tab_b" data-toggle="pill">Corneal transplant surgery</a></li>
                            <li><a href="#tab_c" data-toggle="pill">General health check</a></li>
                            <li><a href="#tab_d" data-toggle="pill">Diagnosis & treatment cancer</a></li>
                            <li><a href="#tab_e" data-toggle="pill">Treatment of dermatitis</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_a">
                            <div class="uni-our-service-2-content-default">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="item-img">
                                            <img src="{% static 'images/services/img.jpg' %}" alt="" class="img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="item-caption">
                                            <div class="item-caption-title">
                                                <h3>Cardiothoracic Surgery</h3>
                                                <div class="uni-line"></div>
                                            </div>
                                            <p>Pellentesque habitant morbi tristique senectus et netus
                                                et malesuada fames ac turpis egestas. Vestibulum tortor
                                                quam, feugiat vitae, ultricies eget, tempor sit amet,
                                                ante. Donec eu libero sit amet quam egestas semper.
                                                Aenean ultricies mi vitae est. Mauris placerat eleifend
                                                leo.
                                            </p>
                                            <ul>
                                                <li>
                                                    Lorem ipsum dolor sit amet, consectetuer
                                                </li>
                                                <li>
                                                    Aliquam tincidunt mauris eu risus
                                                </li>
                                                <li>
                                                    Vestibulum auctor dapibus neque
                                                </li>
                                                <li>
                                                    Morbi in sem quis dui placerat ornare
                                                </li>
                                                <li>
                                                    Donec eu libero sit amet quam egestas semper
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_b">
                            <div class="uni-our-service-2-content-default">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="item-img">
                                            <img src="{% static 'images/services/img1.jpg' %}" alt="" class="img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="item-caption">
                                            <div class="item-caption-title">
                                                <h3>Corneal transplant surgery</h3>
                                                <div class="uni-line"></div>
                                            </div>
                                            <p>Pellentesque habitant morbi tristique senectus et netus
                                                et malesuada fames ac turpis egestas. Vestibulum tortor
                                                quam, feugiat vitae, ultricies eget, tempor sit amet,
                                                ante. Donec eu libero sit amet quam egestas semper.
                                                Aenean ultricies mi vitae est. Mauris placerat eleifend
                                                leo.
                                            </p>
                                            <ul>
                                                <li>
                                                    Lorem ipsum dolor sit amet, consectetuer
                                                </li>
                                                <li>
                                                    Aliquam tincidunt mauris eu risus
                                                </li>
                                                <li>
                                                    Vestibulum auctor dapibus neque
                                                </li>
                                                <li>
                                                    Morbi in sem quis dui placerat ornare
                                                </li>
                                                <li>
                                                    Donec eu libero sit amet quam egestas semper
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_c">
                            <div class="uni-our-service-2-content-default">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="item-img">
                                            <img src="{% static 'images/services/img2.jpg' %}" alt="" class="img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="item-caption">
                                            <div class="item-caption-title">
                                                <h3>General health check</h3>
                                                <div class="uni-line"></div>
                                            </div>
                                            <p>Pellentesque habitant morbi tristique senectus et netus
                                                et malesuada fames ac turpis egestas. Vestibulum tortor
                                                quam, feugiat vitae, ultricies eget, tempor sit amet,
                                                ante. Donec eu libero sit amet quam egestas semper.
                                                Aenean ultricies mi vitae est. Mauris placerat eleifend
                                                leo.
                                            </p>
                                            <ul>
                                                <li>
                                                    Lorem ipsum dolor sit amet, consectetuer
                                                </li>
                                                <li>
                                                    Aliquam tincidunt mauris eu risus
                                                </li>
                                                <li>
                                                    Vestibulum auctor dapibus neque
                                                </li>
                                                <li>
                                                    Morbi in sem quis dui placerat ornare
                                                </li>
                                                <li>
                                                    Donec eu libero sit amet quam egestas semper
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_d">
                            <div class="uni-our-service-2-content-default">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="item-img">
                                            <img src="{% static 'images/services/img3.jpg' %}" alt="" class="img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="item-caption">
                                            <div class="item-caption-title">
                                                <h3>Diagnosis & treatment cancer</h3>
                                                <div class="uni-line"></div>
                                            </div>
                                            <p>Pellentesque habitant morbi tristique senectus et netus
                                                et malesuada fames ac turpis egestas. Vestibulum tortor
                                                quam, feugiat vitae, ultricies eget, tempor sit amet,
                                                ante. Donec eu libero sit amet quam egestas semper.
                                                Aenean ultricies mi vitae est. Mauris placerat eleifend
                                                leo.
                                            </p>
                                            <ul>
                                                <li>
                                                    Lorem ipsum dolor sit amet, consectetuer
                                                </li>
                                                <li>
                                                    Aliquam tincidunt mauris eu risus
                                                </li>
                                                <li>
                                                    Vestibulum auctor dapibus neque
                                                </li>
                                                <li>
                                                    Morbi in sem quis dui placerat ornare
                                                </li>
                                                <li>
                                                    Donec eu libero sit amet quam egestas semper
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_e">
                            <div class="uni-our-service-2-content-default">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="item-img">
                                            <img src="{% static 'pages/images/services/img4.jpg' %}" alt="" class="img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="item-caption">
                                            <div class="item-caption-title">
                                                <h3>Treatment of dermatitis</h3>
                                                <div class="uni-line"></div>
                                            </div>
                                            <p>Pellentesque habitant morbi tristique senectus et netus
                                                et malesuada fames ac turpis egestas. Vestibulum tortor
                                                quam, feugiat vitae, ultricies eget, tempor sit amet,
                                                ante. Donec eu libero sit amet quam egestas semper.
                                                Aenean ultricies mi vitae est. Mauris placerat eleifend
                                                leo.
                                            </p>
                                            <ul>
                                                <li>
                                                    Lorem ipsum dolor sit amet, consectetuer
                                                </li>
                                                <li>
                                                    Aliquam tincidunt mauris eu risus
                                                </li>
                                                <li>
                                                    Vestibulum auctor dapibus neque
                                                </li>
                                                <li>
                                                    Morbi in sem quis dui placerat ornare
                                                </li>
                                                <li>
                                                    Donec eu libero sit amet quam egestas semper
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--DEPARTMENT, TESTIMONIAL, OPNING HOURES-->
<div class="uni-services-de-test-hours">
<div class="container">
    <div class="row">
        <!--DEPARTMENTS-->
        <div class="col-md-4">
            <div class="uni-services-department">
                <div class="uni-services-title">
                    <h3>Departments</h3>
                    <div class="uni-line"></div>
                </div>
                <div class="uni-services-department-content">
                    <div class="accordion-default">
                        <div class="accordion-icons-img">
                            <div class="accordion">
                                {% for department in departments %}
                                    <div class="accordion-item">
                                        <div class="accordion-toggle {% if forloop.first %}active{% endif %}">
                                            <div class="accordion-icosn">
                                                <!-- Assuming the department image is stored in the 'image' field -->
                                                <img src="{{ department.image.url }}" alt="">
                                            </div>
                                            <h4>{{ department.name }}</h4>
                                        </div>
                                        <div class="accordion-content" style="{% if forloop.first %}display: block{% endif %}">
                                            <p>{{ department.description }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    </html>

        <!--TESTIMONIALS-->
        <div class="col-md-4">
            <div class="uni-services-testimonials">
                <div class="uni-services-title">
                    <h3>testimonials</h3>
                    <div class="uni-line"></div>
                </div>
                <div class="uni-services-testimonials-content">
                    <div class="uni-owl-one-item owl-carousel owl-theme">
                        <div class="item">
                            <div class="uni-shortcode-testimonials-default">
                                <div class="item-info">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="item-info-img">
                                                <img src="{% static 'images/testimonial/img.png' %}" alt="" class="img-responsive">
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="item-info-title">
                                                <h4>amanda smith</h4>
                                                <p class="testimonial_subtitle">myopia patients</p>
                                            </div>
                                            <div class="uni-divider"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-caption">
                                    <p>
                                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
                                        turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget.
                                    </p>
                                </div>
                            </div>

                            <div class="uni-shortcode-testimonials-default">
                                <div class="item-info">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="item-info-img">
                                                <img src="{% static 'images/testimonial/img1.png' %}" alt="" class="img-responsive">
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="item-info-title">
                                                <h4>amanda smith</h4>
                                                <p class="testimonial_subtitle">myopia patients</p>
                                            </div>
                                            <div class="uni-divider"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-caption">
                                    <p>
                                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
                                        turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget.
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="item">
                            <div class="uni-shortcode-testimonials-default">
                                <div class="item-info">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="item-info-img">
                                                <img src="{% static 'images/testimonial/img.png' %}" alt="" class="img-responsive">
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="item-info-title">
                                                <h4>amanda smith</h4>
                                                <p class="testimonial_subtitle">myopia patients</p>
                                            </div>
                                            <div class="uni-divider"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-caption">
                                    <p>
                                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
                                        turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget.
                                    </p>
                                </div>
                            </div>

                            <div class="uni-shortcode-testimonials-default">
                                <div class="item-info">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="item-info-img">
                                                <img src="{% static 'images/testimonial/img1.png' %}" alt="" class="img-responsive">
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="item-info-title">
                                                <h4>amanda smith</h4>
                                                <p class="testimonial_subtitle">myopia patients</p>
                                            </div>
                                            <div class="uni-divider"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-caption">
                                    <p>
                                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
                                        turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--OPENING HOURS-->
        <div class="col-md-4">
            <div class="uni-services-opinging-hours">
                <div class="uni-services-opinging-hours-title">
                    <div class="icon">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                    </div>
                    <h4>opening hours</h4>
                </div>
                <div class="uni-services-opinging-hours-content">
                    <table class="table">
                        <tr>
                            <td>monday</td>
                            <td>8:00 - 17:00</td>
                        </tr>
                        <tr>
                            <td>tuesday</td>
                            <td>8:00 - 17:00</td>
                        </tr>
                        <tr>
                            <td>wednesday</td>
                            <td>8:00 - 17:00</td>
                        </tr>
                        <tr>
                            <td>thursday</td>
                            <td>8:00 - 17:00</td>
                        </tr>
                        <tr>
                            <td>friday</td>
                            <td>8:00 - 17:00</td>
                        </tr>
                        <tr>
                            <td>sunday</td>
                            <td>8:00 - 17:00</td>
                        </tr>
                    </table>
                    <a href="#" class="book-appointment">Book appointments</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>




{% endblock %}