{% extends 'base.html' %}
{% load static  %}

{% block contact %}

<div class="uni-our-doctor-body">
    <div class="container">
        <div class="uni-shortcode-tabs-default">
            <div class="uni-shortcode-tab-2">
                <div class="tabbable-panel">
                    <div class="tabbable-line">
                        <ul class="nav nav-tabs">
                            {% for department in departments %}
                            <li {% if forloop.first %}class="active"{% endif %}>
                                <a href="#tab_default_{{ department.id }}" data-toggle="tab" aria-expanded="false">
                                    {{ department.name }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                        <div class="tab-content">
                            {% for department in departments %}
                            <div class="tab-pane {% if forloop.first %}active{% endif %}" id="tab_default_{{ department.id }}">
                                <div class="row">
                                    {% for doctor in department.doctor_set.all %}
                                    <div class="col-md-3 col-sm-6">
                                        <div class="uni-our-doctor-item-default">
                                            <div class="item-img">
                                                <!-- ينقلك إلى صفحة التفاصيل عند النقر على اسم الطبيب -->
                                                <a href="{% url 'doctor_detail' doctor.id %}">
                                                    <img src="{{ doctor.image.url }}" alt="{{ doctor.name }}" class="img-responsive">
                                                </a>
                                            </div>
                                            <div class="item-caption">
                                                <div class="item-caption-head">
                                                    <div class="col-md-3 col-sm-3 col-xs-3 uni-clear-padding">
                                                        <div class="item-icons">
                                                            <img src="{% static 'images/icons_box/icon_4/icon-5.png' %}" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-9 col-sm-9 col-xs-9 uni-clear-padding">
                                                        <div class="item-title">
                                                            <!-- ينقلك إلى صفحة التفاصيل عند النقر على اسم الطبيب -->
                                                            <a href="{% url 'doctor_detail' doctor.id %}">
                                                                <h4>{{ doctor.name }}</h4>
                                                            </a>
                                                            <span>{{ doctor.degree }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item-caption-info">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <td>Degree</td>
                                                                <td>{{ doctor.degree }}</td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>Availability</td>
                                                                <td>{{ doctor.availability }}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






{% endblock %}