
{% extends 'base.html' %}
{% load static %}

{% block contact %}

<div class="uni-form-search-header">
    <div class="box-search-header collapse in" id="box-search-header">
        <div class="uni-input-group">
            <input type="text" name="key" placeholder="Search" class="form-control">
            <button class="uni-btn btn-search">
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>
</div>
</div>
</div>
</header>

<div id="main-content" class="site-main-content">
<section class="site-content-area">

<div class="uni-banner-default uni-background-1">
<div class="container">
<!-- Page title -->
<div class="page-title">
    <div class="page-title-inner">
        <h1>{{ department.name }}</h1>
    </div>
</div>
<!-- End page title -->

<!-- Breadcrumbs -->
<ul class="breadcrumbs">
    <li><a href="#">home</a></li>
    <li><a href="#">departments</a></li>
    <li><a href="#">cardilogy </a></li>
</ul>
<!-- End breadcrumbs -->
</div>
</div>

<div class="uni-single-departments-body">
<div class="container">
<div class="row">
    <div class="col-md-3">
        <div class="uni-single-departments-left">
            <!--Opening hours-->
            <div class="uni-single-department-open-hours">
                <h3 class="uni-single-department-left-title">
                    Opening hours
                </h3>
                <div class="uni-single-department-left-table">
                    <table class="table">
                        {% for opening_hour in opening_hours %}
                        <tr>
                            <td>{{ opening_hour.day }}</td>
                            <td>{{ opening_hour.start_time }} - {{ opening_hour.end_time }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>

            <!--Contact us-->
            <div class="uni-single-department-contact-info">
                <h3 class="uni-single-department-left-title">
                    CONTACT INFO
                </h3>
                <ul>
                    <li>
                        <i class="fa fa-map-marker" aria-hidden="true"></i> 45 Queen's Park Rd, Brighton
                        United Kingdom
                    </li>
                    <li>
                        <i class="fa fa-phone" aria-hidden="true"></i> (094) 123 4567
                    </li>
                    <li>
                        <i class="fa fa-envelope" aria-hidden="true"></i> medicareplus@domain.com
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="uni-single-departments-right">

            <div class="uni-single-departments-cardiology">
                <div class="row">
                    <div class="col-md-5">
                        <img src="{% static 'images/departments/img.jpg' %}" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-7">
                        <h3 class="uni-single-departments-right-title">{{ department.name }}</h3>
                        <p>{{ department.description }}</p>
                        <ul>
                            <li>
                                <p>Lorem ipsum dolor sit amet, consectetuer</p>
                            </li>
                            <li>
                                <p>Lorem ipsum dolor sit amet, consectetuer</p>
                            </li>
                            <li>
                                <p>Vestibulum auctor dapibus neque</p>
                            </li>
                            <li>
                                <p>Morbi in sem quis dui placerat ornare</p>
                            </li>
                            <li>
                                <p>Donec eu libero sit amet quam egestas semper</p>
                            </li>
                            <li>
                                <p>Aliquam tincidunt mauris eu risus</p>
                            </li>
                            <li>
                                <p>Vestibulum auctor dapibus neque</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div></div>

<!--TREATMENTS INVENSTIGATION-->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="uni-single-departments-treatments-investigation">
                <h3 class="uni-single-departments-right-title">Medicines</h3>
                <div class="uni-divider"></div>
                <ul>
                    {% for medicine in medicines %}
                    <li>
                        {{ medicine.name }} <span>{{ medicine.price }} $</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="uni-single-departments-treatments-investigation">
                <h3 class="uni-single-departments-right-title">INVENSTIGATION</h3>
                <div class="uni-divider"></div>
                <ul>
                    {% for medicine in medicines %}
                    <li>
                        {{ medicine.name }} <span>{{ medicine.price }} $</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<!--DOCTORS-->
<div class="uni-single-department-doctor">
    <h3 class="uni-single-departments-right-title">Doctors</h3>
    <div class="uni-divider"></div>

    <div class="uni-single-department-doctor-body">
        <div class="row">
            {% for doctor in doctors %}
            <div class="col-md-3">
                <div class="uni-single-department-doctor-item">
                    <div class="item-img">
                        <img src="{{ doctor.image.url }}" alt="{{ doctor.name }}" class="img-responsive">
                        <!-- استخدمنا doctor.image.url لعرض الصورة التي تمت إضافتها للطبيب -->
                    </div>
                    <div class="item-caption">
                        <div class="item-caption-head">
                            <div class="col-md-3 col-sm-2 col-xs-3 uni-clear-padding">
                                <div class="item-icons">
                                    <img src="{% static 'images/icons_box/icon_4/icon-5.png' %}" alt="">
                                </div>
                            </div>
                            <div class="col-md-9 col-sm-10 col-xs-9 uni-clear-padding">
                                <div class="item-title">
                                    <h4>{{ doctor.name }}</h4>
                                    <span>{{ doctor.degree }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="item-caption-info">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td>Degree</td>
                                        <td>{{ doctor.degree }}</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Availability</td>
                                        <td>{{ doctor.availability }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!--APPOINTMENTS-->
<div class="uni-single-department-appointment">
    <h3 class="uni-single-departments-right-title">appointment</h3>
    <div class="uni-divider"></div>
    <div class="uni-single-department-appointment-form">
        <form action="#">
            <div class="row">
                <div class="col-md-4">

                    <div class="input-group form-group">
                        <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="name" value="" placeholder="your name">
                    </div>
                    <div class="input-group form-group">
                        <span class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                        <input type="tel" class="form-control" name="phone" value="" placeholder="phone number">
                    </div>
                    <div class="input-group form-group">
                        <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                        <input type="email" class="form-control" name="email" value="" placeholder="email">
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group date date-check-in" data-date="12-02-2017" data-date-format="mm-dd-yyyy">
                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                            <input name="date1" class="form-control" type="text" value="12-02-2017">
                            <span class="input-group-addon btn"><i class="fa fa-calendar" id="ti-calendar1" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="input-group form-group">
                        <textarea id="message" name="phone" class="form-control" placeholder="note"></textarea>
                    </div>
                    <button class="vk-btn vk-btn-send">send</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>

</section>
</div>


    

{% endblock %}